
#autopilot-panel {
    position: absolute;
    width: 432px;
    height: 898px;
    left: 1440px;
    top: 85px;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba(125, 126, 143, 0.37);
    backdrop-filter: blur( 40px );
    -webkit-backdrop-filter: blur( 40px );
    border-radius: 40px;
    border: 5px solid rgba( 255, 255, 255, 0.18 );
    transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden
}

#autopilot-panel-title{
    position: fixed;
    width: 432px;
    height: 32px;
    left: 0px;
    top: 30px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    color: #000000;
}

#autopilot-switch-panel {
    position: fixed;
    top: 100px;
    width: 432px;
    height: 500px;
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-column: 1br;
    align-items: center;
    justify-items: center;
}

.switch {
    height: 80px;
    font-family: Lato;
    line-height: 100%;
}

.switch p {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    line-height: 100%;
    text-align: center;
}

.autopilot-plus-or-minus-switch {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.autopilot-plus-or-minus-switch-text-heading {
    height: 20px;
    font-family: Lato;
    line-height: 20px;
    font-size: 15px;
    font-weight: 600;
    width: 160px;
    text-align: center;
    text-transform: capitalize;
}
.autopilot-plus-or-minus-switch-text-value {
    height: 60px;
    font-family: Lato;
    line-height: 80px;
    font-size: 28px;
    font-weight: 600;
    width: 160px;
    text-align: center;
}

.autopilot-plus-or-minus-switch-button {
    height: 80px;
    font-family: Lato;
    font-size: 30px;
    font-weight: 600;
    line-height: 77px;
    background-color: white;
    width: 80px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid aliceblue;
}

.autopilot-master-switch-button {
    height: 80px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 600;
    line-height: 55px;
    background-color: white;
    width: 160px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid aliceblue;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.autopilot-master-switch-light {
    height: 10px;
    background-color: lightgrey;
    width: 100px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.autopilot-button-panel {
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 150px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px;
}